<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p> <!-- added as requested by Devise set up-->
  <p class="alert"><%= alert %></p> <!-- added as requested by Devise set up-->

<%= notice %>

<%= yield %>

</body>
</html>
